/* :root {
  --cor-destaque: #FF5733;
  --tamanho-fonte: 16px;
  --espacamento-vertical: 1.5em;
} */

.logoftd {
  margin-left: 20px;
}

.table thead {
  font-size: 16px !important;
  color: #FF5733;

}

.table td {
  font-size: 14px;
}

.dadosEmpresa {
  font-size: 12px;
}

.infoPedido {
  font-size: 14px;
}

.alinhaEsq {
  text-align: end;
}

/* #tabela-responsiva {
  width: 100%;
  table-layout: fixed;
}

#tabela-responsiva th, #tabela-responsiva td {
  text-align: left;
  padding: 8px;
}

#tabela-responsiva th {
  background-color: #ff0404;
} */

/* Adicione estilos específicos para cada coluna, se necessário */

#logo {
  width: -webkit-fill-available;
}

.footer {
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999; /* Ajuste o valor conforme necessário */
}

.container {
    margin-bottom: 30px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: right;
}


