<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/folha.png">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>FTD | Integração A7</title>
</head>

<body>
    <div>
        <!-- START: NAVBAR -->
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand logoftd" href="?pagina=home">
            <img src="assets/logo_ftd.bmp" width="40" height="40" class="d-inline-block align-top" alt="Logo da Empresa FTD">
          </a>
          <h4 class="mx-auto">Lista de Pedidos</h4>
          <!-- <span class="mx-auto">Lista de Pedidos</span> -->
        </nav>

        <!-- START: MAIN -->
        <main>
            <div id="conteudo">
                {{conteudo_dinamico}}
            </div>
        </main>

        <!-- START: FOOTER -->
        <footer class="footer bg-light text-center">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                &copy; Todos os direitos reservados, 2024. Desenvolvido por
                <a class="text-dark" href="https://www.siahonline.com.br/" target="_blank"
                    rel="noopener noreferrer"><b>SIAH</b></a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>
</body>

</html>
